.panel.panel-default
  .panel-heading
    %h3.panel-title Start to rock!
  .panel-body
    = link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do
      %span.fa.fa-facebook
      Sign in with Facebook
